$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2rem;
$font-size-xxl: 2.5rem;

@mixin date-event {
  font-size: $font-size-lg;
  font-weight: 900;
}

@mixin design {
  border: 1px solid red;
  background-color: yellow;
}

@mixin mobile-599 {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin tablet-768 {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin desktop-1200 {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin big-desktop-1800 {
  @media (min-width: 1800px) {
    @content;
  }
}
