@import "../styles/mixins.scss";

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin: 5px 0;
    width: 97%;

    button {
        border: none;
        background-color: transparent;
    }

    & .avatar {
        margin-left: 10px;
        cursor: pointer;
    }

    & .email {
        font-size: 0.8rem;
    }
}
