@import "@/app/styles/mixins.scss";

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin: 5px 0;
    width: 97%;

    button {
        border: none;
        background-color: transparent;
    }

    & .avatar {
        margin-top: 5px;
        margin-left: 15px;
        cursor: pointer;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    }

    & .email {
        font-size: 0.8rem;
    }
}
