@import "@/app/styles/mixins.scss";

.main {
  height: auto;
  width: 100vw;
  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.title {
  font-size: $font-size-xl;
  font-family: var(--font-raleway);
  ;
  font-weight: 900;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;

  @include mobile-599 {
    font-size: $font-size-lg;
  }
}

.eventsMain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px 45px;

  width: 90%;
  min-height: auto;
  margin: 1rem 0;

  [data-testid="bt-add-event"] {
    background-color: rgba(240, 240, 240);
  }

  @include mobile-599 {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2% 2%;
    width: 97%;
  }

  @include tablet-768 {
    grid-template-columns: 1fr 1fr;
  }

  @include big-desktop-1800 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.eventContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 140px;
  padding: 25px;
  cursor: pointer;

  @include mobile-599 {
    padding: 12px;
  }

  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

  button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    border: 0px solid red;
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
    font-size: $font-size-md;

    & span {
      margin-top: 10px;
    }
  }

  & .date {
    @include date-event
  }

  & .nameEvent {
    font-weight: 600;

    @include mobile-599 {
      font-size: $font-size-xs;
    }
  }

  & .description {
    font-weight: 300;
    font-size: $font-size-sm;
    margin-top: 3px;
    ;

    @include mobile-599 {
      font-weight: 500;
      font-size: 0.65rem;
    }
  }

  & .details {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include mobile-599 {
      font-size: $font-size-xs;
      grid-template-columns: 1fr 1.3fr;
    }


    & span {
      margin-left: 4px;
      color: rgba(0, 0, 0, 0.5);
      font-size: $font-size-xs;

      @include tablet-768 {
        font-size: $font-size-md;
      }

    }

    .people {
      display: flex;
      align-items: center;
    }

    .money {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

.imgBg {
  object-fit: cover;
  z-index: -50;
  object-position: top;
  position: fixed;
}


.skeleton {
  width: 90% !important;
  margin: 10px;
}

.modal {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  border: 1px solid $color-black-30;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 15px 30px;

  @include mobile-599 {
    width: 80%;
    padding: 10px 15px;
  }

  @include desktop-1200 {
    width: 50%;
  }

  p {
    color: red;
    margin: -4px 0 25px 3px;
    font-size: $font-size-sm;
  }

  p::before {
    display: inline;
    content: "⚠ ";
  }

  & .messageAPI {
    justify-content: center;
    align-items: center;
    background-color: rgb(91, 253, 148);
    color: black;
    padding: 10px 0;
    border-radius: 5px;
    width: 99%;
    text-align: center;
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
  }

  & .input {
    width: 100%;
    margin: 7px 0px;
    padding: 5px 10px;
    border: 1px solid $color-black-30;
    border-radius: 5px;
    font-size: $font-size-md;
  }

  & .title {
    @include mobile-599 {
      font-size: $font-size-md*1.25;
    }
  }

  & .label {
    font-size: $font-size-md;
    margin-top: 10px;
    margin-left: 2px;

    @include mobile-599 {
      font-size: $font-size-sm;
    }
  }

  & .label[data-req] {
    color: rgba(219, 0, 0, 0.7);

    &::after {
      display: inline;
      content: "*";
    }

  }
}

.number {
  font-family: var(--font-raleway);
  font-weight: 700;
}
